{{! Responsibility-to-proof matrix row: heading + proof (comma-separated from settings) }}
<div class="mrc-ghost-matrix-row">
  <h3 class="mrc-ghost-matrix-heading">{{heading}}</h3>
  <p class="mrc-ghost-matrix-proof">{{proof}}</p>
</div>
