{{! Implementation highlight: title, description, optional link }}
<div class="mrc-ghost-highlight">
  <h3 class="mrc-ghost-highlight-title">{{title}}</h3>
  <p class="mrc-ghost-highlight-desc">{{description}}</p>
  {{#if url}}
    <a href="{{url}}" class="mrc-ghost-highlight-link">Learn more</a>
  {{/if}}
</div>
