{{! How you work — one principle (Sustainable / Measurable / Collaborative / Maintainable) }}
<div class="mrc-principle">
  {{#if title}}
    <h3 class="mrc-principle-title">{{title}}</h3>
  {{/if}}
  {{#if body}}
    <p class="mrc-principle-body">{{body}}</p>
  {{/if}}
</div>
