{{!< default}}
{{! Blog archive: used when collection is at /blog/ (see docs/routes-blog-archive.yaml) }}

<main class="site-main" id="blog-archive">
    <h1 class="gh-outer gh-feed-heading">Blog</h1>
    <div class="post-feed gh-feed gh-canvas">
        {{#if posts}}
            {{#foreach posts}}
                {{> "loop"}}
            {{/foreach}}
        {{else}}
            <p class="gh-outer">No posts yet.</p>
        {{/if}}
    </div>

    {{#if pagination.pages}}
        {{pagination}}
    {{/if}}

</main>