{{!< default}}

<main class="site-main">

    {{#post}}
        {{#has tag="whitepaper"}}
            {{> "post-whitepaper"}}
        {{else}}
            {{#has tag="case-study"}}
                {{> "post-case-study"}}
            {{else}}
                {{> "content" width="wide"}}
            {{/has}}
        {{/has}}
    {{/post}}

    {{#if @custom.show_related_posts}}
        {{> "related-posts"}}
    {{/if}}

    {{#post}}
        {{> "comments"}}
    {{/post}}

</main>
