.cover {
    margin-top: var(--space-7);
}

.cover-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
}

.cover-icon {
    position: relative;
    margin-bottom: var(--space-6);
}

.cover-icon-image {
    width: 120px;
}

.cover-description {
    font-size: 1.7rem;
}

.cover-cta {
    display: flex;
    margin-top: var(--space-6);
}

.cover-cta .button {
    margin: 0 var(--space-2);
}
