.author {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--space-8);
    text-align: center;
}

.author-image-placeholder {
    flex-shrink: 0;
    width: 70px;
    margin-bottom: var(--space-6);
    overflow: hidden;
    border-radius: 50%;
}

.author-name {
    margin-bottom: 0;
    font-size: 2.4rem;
}

.author-meta {
    margin-top: var(--space-2);
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--secondary-text-color);
    text-transform: uppercase;
}

.author-bio {
    max-width: 520px;
    margin-top: var(--space-4);
}

.author-social {
    margin-top: var(--space-6);
}

.author-list {
    display: flex;
}

.author-list .author-image-placeholder {
    width: 54px;
    margin: 0 calc(-1 * var(--space-1));
    border: 2px solid var(--white-color);
}

.author-list .author-image-placeholder:first-child {
    z-index: 10;
}

.author-list .author-image-placeholder:nth-child(2) {
    z-index: 9;
}

.author-list .author-image-placeholder:nth-child(3) {
    z-index: 8;
}

.author-list .author-image-placeholder:nth-child(4) {
    z-index: 7;
}

.author-list .author-image-placeholder:nth-child(5) {
    z-index: 6;
}
