.related-wrapper {
    padding: var(--space-7) 0 var(--space-6);
    margin-top: var(--space-8);
    background-color: var(--lighter-gray-color);
}

.related-title {
    margin-bottom: var(--space-5);
    font-size: 2.1rem;
}
