.tag {
    margin-bottom: var(--space-8);
    text-align: center;
}

.tag .tag-name {
    margin-bottom: 0;
    font-size: 3rem;
    color: var(--brand-color);
}

.tag .tag-name::before {
    content: "#";
}

.tag .tag-description {
    max-width: 520px;
    margin: var(--space-4) auto 0;
}

.tag .tag-list {
    margin-top: var(--space-6);
    font-weight: 700;
}

.tag .tag-list-label {
    margin-right: var(--space-2);
    color: var(--secondary-text-color);
}

.tag .tag-list-item::before {
    content: "#";
}

.tag .tag-list-item + .tag-list-item {
    margin-left: 0.3rem;
}

.tag .tag-media {
    margin-top: var(--space-8);
}

@media (max-width: 767px) {
    .tag {
        margin-bottom: var(--space-7);
    }

    .tag .tag-media {
        margin-top: var(--space-7);
    }
}
